/.vscode
/a.exe
/cd.py
/cwh1.c
/divide.c
/geckodriver.log
/greater3.c
/greater3.exe
/ifelse1.c
/ifelse1.exe
/learn.c
/print.py
/programc.c
/programc.exe
/projects
/py.py
/series.c
/series.exe
/__pycache__